*{
    margin:0;
    padding:0;
    border:0;
}

.header{
    background-color:rgb(230, 234, 253); 
    height: 450px;
}

.text{
    padding-left: 600px;
    margin-top: -230px;
}
img{
    height: 400px;
    width: 600px;
}




